* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

.maincont {
    width: 400px;
    height: 550px;
    background: rgb(94, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

}

.card {
    width: 250px;
    height: 500px;
    background: rgb(253, 248, 248);
    border-radius: 20px;
}

.cont {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn1 {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: solid 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nike {
    font-size: 2em;
    cursor: pointer;
    color: rgb(290, 298, 400);
}

.btn1:hover {
    transform: scale(1.2);
}

.text1 {
    margin-top: 15px;
}

.nike1 {
    color: rgb(196, 131, 9);
}

.airmax1 {
    width: 100%;
    height: 90px;
    border-radius: 15px;
    margin-top: 20px;
}

.text2 {
    border-radius: 10px;
    height: 100px;
    background: rgb(296, 298, 297);
    display: flex;
}

.shoes {
    color: rgb(98, 97, 97);
    padding-left: 15px;
}

.btn3 {
    width: 75px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-left: 15px;
    background: #000;
}

.text4 {
    color: white;
}

.btn3:hover {
    transform: scale(1.2);
}

.img1 {
    height: 120px;
    width: 169px;
}

.ere {
    padding-top: 10px;
    padding-left: 15px;
}

.cint2 {
    height: 10px;
    width: 10px;
    position: relative;
    right: 60px;
    bottom: 10px;
}

.tochki {
    height: 10px;
    width: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0 auto;
}

.vfs {
    color: orangered;

}

.life {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.run {
    color: rgb(169, 166, 166);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.item {
    color: rgb(209, 138, 7);
}

.item1 {
    color: rgb(126, 122, 122);
}

.sneakers {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.sneak1 {
    width: 47.5%;
    height: 150px;
    background: rgb(296, 298, 400);
    border-radius: 15px;
}

.sneak2 {
    width: 47.5%;
    height: 150px;
    border-radius: 15px;
    background: rgb(296, 298, 400);
}

.waf {
    margin-top: 10px;
    margin-left: 10px;
}

.waf1 {
    margin-left: 10px;
}

.blue {
    width: 10px;
    height: 10px;
    background: rgb(164, 3, 3);
    margin-left: 10px;
    border-radius: 3px;
    margin-top: 5px;
}

.orange {
    width: 10px;
    height: 10px;
    background: orange;
    margin-left: 10px;
    border-radius: 3px;
    margin-top: 5px;
}

.colors1 {
    display: flex;
}

.img2 {
    height: 50px;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;

}

.wuf:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.price {
    margin-left: 5px;
}

.cont43 {
    display: flex;
    justify-content: space-between;
}


.btn2 {
    height: 27px;
    width: 27px;
    border-radius: 5px;
    border: solid 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    background: rgb(255, 255, 255);
}


.btn2:hover {
    transform: scale(1.2);
}


.green {
    width: 10px;
    height: 10px;
    background: rgb(162, 255, 0);
    margin-left: 10px;
    border-radius: 3px;
    margin-top: 5px;
}

.purple {
    width: 10px;
    height: 10px;
    background: purple;
    margin-left: 10px;
    border-radius: 3px;
    margin-top: 5px;
}

.black {
    width: 10px;
    height: 10px;
    background: rgb(0, 0, 0);
    margin-left: 10px;
    border-radius: 3px;
    margin-top: 5px;
}

.iconcont {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}

.icon {
    font-size: 1.2em;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.4);
}


.btn4 {
    height: 35px;
    width: 35px;
    border-radius: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #000;

}

.uyu {
    color: white;
}

.btn4:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.text4 {
    cursor: pointer;
}